hr.top{
    border: 1px solid #E5E5E5;
}
hr.bottom{
    border-bottom: 1px solid #E5E5E5;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    border-right: 1px solid #E5E5E5;
  }

.right{
  border: 1px solid #E5E5E5;
  width:400px;
}